.tag
    &s a
        padding: 4px 8px
        border-radius: 7px
        margin-top: 10px
        &:hover
                text-decoration: none
    &-item
        background-color: #DDD
        color: $gray
    &-date
        background-color: $orange
        color: black
        &:hover
            text-decoration: none
            color: #000
        & img
            margin-right: 5px;
            transform: translateY(-2px)




@media screen and (min-width: 768px)
    .tag
        &s a
            margin-right: 10px

