@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Bold.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Bold.woff') format('woff'),
        url('../fonts/subset-Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/subset-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/subset-Montserrat-Regular.woff') format('woff'),
        url('../fonts/subset-Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Regular.woff') format('woff'),
        url('../fonts/subset-Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/subset-Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/subset-Montserrat-Bold.woff') format('woff'),
        url('../fonts/subset-Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}