// Colors
$blue: #556B9F
$orange: #F3A500
$gray: #505050
$gray666: #666
$white: #fff
$gray-bg: #EEE
    
    

    
*
    box-sizing: border-box
html
    font-family: 'Roboto', sans-serif
    font-size: 16px
    
a
    text-decoration: none
    color: $blue
    transition: .3s





// Хлебные крошки
.breadcrumb-item+.breadcrumb-item:before
   content: '>'
.breadcrumb
    background-color: transparent
    color: #666
    margin-bottom: 0
    padding-bottom: 0
    padding-left: 0
    & span
        color: Подзаголовок (по желанию), а лучше - сделать подтему
        font-size: 14px
    & .active
        color: black
.title
    font-family: 'Montserrat', sans-serif !important
    font-weight: bold
    font-size: 25px
    color: $gray666
    &-sm
        color: $gray
        font-size: 20px !important
        & a
            color: $gray
            text-decoration: none
.subtitle
    color: #666
@media screen and (min-width: 576px)
    .title
        font-size: 35px